@model Ad
@{
    ViewData["Title"] = "Delete";
}
<div class="w-50 m-auto p-5">
    <h1 class="title p-5">Удалить объявление?</h1>
    <ul class="dl-vertical">
        <li><b>Дата добавления</b> - @Model.CreationDate </li>
        <li><b>Содержимое</b> - @Model.Content </li>
        <li><b>Номер</b> - @Model.Number</li>
        <li><b>Рейтинг</b>- @Model.Rating</li>
    </ul>
    <form asp-action="Delete" class="px-5">
        <input hidden asp-for="Id" />
        <input type="submit" class="btn btn-danger" value="Удалить" />
        <a asp-action="Index">Отмена</a>
    </form>
</div>