@model AdViewModel
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@using Hackathon.ViewModels
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@{
    ViewData["Title"] = "Изменить объявление";
    var img = "data:image/gif;base64," + Convert.ToBase64String(Model.OldImage);
    var src = img != null ? img : "~/no.png";

}
<div class="row m-auto" style="width:80%">
    <div class="col-3">
        <div class="imgBlok my-5">
            <img src="@src" class="adImg" id="myImg" />
        </div>
    </div>
    <div class="col-md-9 float-right">
        <h1 class="title col-12">Изменить объявление</h1>
        <form method="post" asp-controller="Ad" asp-action="Edit" enctype="multipart/form-data">
            <div class="modal-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label"></label>
                    <input asp-for="Number" class="form-control" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreationDate" class="control-label"></label>
                    <input asp-for="CreationDate" type="date" class="form-control" />
                    <span asp-validation-for="CreationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.Users"> </select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" type="file" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                    <input hidden asp-for="Id" />
                </div>
                <div class="form-group">
                    @Html.Recaptcha(RecaptchaSettings?.Value)
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary myBtn">Сохранить изминения</button>
                <button type="submit" class="btn btn-danger ">Удалить</button>
                <a class="btn btn-secondary" asp-action="Index">Назад</a>
            </div>
        </form>
    </div>
</div>
<!--The Modal-->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#myImg').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#Image").change(function () {
            readURL(this);
        });
    </script>
}