/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
.paging {
    position: absolute;
    height: 70px;
    bottom: 100px;
}
.paging span{
    color: #4200be;
    font-weight: 500;
    font-size: 20px;
}
.paging select{
    width: fit-content!important;
    font-size: 22px;
    font-weight: 500;
}

header {
    background-color: #4200be;
    color: #fff !important;
}

.btn-add {
    background-color: #fff !important;
    color: #4200be;
    border-radius: 30px !important;
    width: 200px !important;
}

.search-btn {
    border-radius: 30px !important;
    width: 200px !important;
}

.listHeader {
    width: 80% !important;
    margin: 0 auto !important;
}

.appList {
    color: #4200be !important;
    width: 80% !important;
    margin: 15px auto !important;
    padding: 16px 0px;
    box-shadow: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
}
.container {
    max-width: 100%!important;
    margin: 0!important;
    padding: 0!important;
}
.title {
    color: #4200be; 
}
.myBtn{
    background: #4200be!important;
}
.form-control{
    border-color: #4200be!important;
}
label{
    font-weight:500;
}
search-btn{
    background-color: #fff!important;
}


.pagination {
    display: inline-block;
    text-align: right!important;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4200be;
    color: white;
    border-radius: 50%;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
}
table {
    overflow-x: auto;
}
.imgBlok {
    height: 200px;
    width: 200px;
    border: 5px solid #4200be;
    /*border-radius: 50%;*/
    background-size: cover;
}
.adImg{
    width: 100%;
    height: 100%;
    background-image: url(../72223826_552498145520200_1610553147623735296_n.png);
    background-repeat: no-repeat;
    background-size: inherit;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}