/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
.paging {
    position: absolute;
    height: 70px;
    bottom: 100px;
}
.paging span{
    color: #4200be;
    font-weight: 500;
    font-size: 20px;
}
.paging select{
    width: fit-content!important;
    font-size: 22px;
    font-weight: 500;
}

header {
    background-color: #4200be;
    color: #fff !important;
}

.btn-add {
    background-color: #fff !important;
    color: #4200be;
    border-radius: 30px !important;
    width: 200px !important;
}

.search-btn {
    border-radius: 30px !important;
    width: 200px !important;
}

.listHeader {
    width: 80% !important;
    margin: 0 auto !important;
}

.appList {
    color: #4200be !important;
    width: 80% !important;
    margin: 15px auto !important;
    padding: 16px 0px;
    box-shadow: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
}
.container {
    max-width: 100%!important;
    margin: 0!important;
    padding: 0!important;
}
.title {
    color: #4200be; 
}
.myBtn{
    background: #4200be!important;
}
.form-control{
    border-color: #4200be!important;
}
label{
    font-weight:500;
}
search-btn{
    background-color: #fff!important;
}


.pagination {
    display: inline-block;
    text-align: right!important;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4200be;
    color: white;
    border-radius: 50%;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 50%;
}
table {
    overflow-x: auto;
}